* {
  box-sizing: border-box;
}

html,
body {
  background-color: #141b1c;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
input, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
}
.page__blok-price {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item__blok-price {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 770px;
  background-color: #334247;
  margin: 0 20px;
}
.item__header {
  padding: 33px 140px;
  letter-spacing: 0px;
}
.item__header h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 43px;
  margin: 0;
}
.item__header p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24.06px;
  margin: 0;
}
.item .green-price {
  font-size: 55px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0px;
  padding: 19px 110px;
  background-color: #5BB189;
}
.item__desc {
  padding: 40px 26px;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
}
.item__list {
  max-width: 380px;
  text-align: left;
}
.item__list li {
  padding: 16px 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}
.item__list li::before {
  content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
  margin-right: 22px;
  margin-left: 22px;
}
.item__list li:nth-child(odd) {
  background-color: #2a3438;
}
.item .button {
  cursor: pointer;
  border-radius: 20px;
  background: #5BB189;
  max-width: 150px;
  margin: 39px auto;
  padding: 11px 26px 12px 28px;
}
.item .button__link {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.business__blok-price {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 770px;
  background-color: #334247;
  margin: 0 20px;
}
.business__header {
  padding: 33px 108px;
  letter-spacing: 0px;
}
.business__header h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 43px;
  margin: 0;
}
.business__header p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24.06px;
  margin: 0;
}
.business .blue-price {
  font-size: 55px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0px;
  padding: 19px 110px;
  background-color: #3A6BA5;
}
.business__desc {
  padding: 40px 26px;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
}
.business__list {
  max-width: 380px;
  text-align: left;
}
.business__list li {
  padding: 16px 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}
.business__list li::before {
  content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
  margin-right: 22px;
  margin-left: 22px;
}
.business__list li:nth-child(odd) {
  background-color: #2a3438;
}
.business .button {
  cursor: pointer;
  border-radius: 20px;
  background: #3A6BA5;
  max-width: 150px;
  margin: 39px auto;
  padding: 11px 26px 12px 28px;
}
.business .button__link {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.webshop__blok-price {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 770px;
  background-color: #334247;
  margin: 0 20px;
}
.webshop__header {
  padding: 33px 108px;
  letter-spacing: 0px;
}
.webshop__header h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 43px;
  margin: 0;
}
.webshop__header p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24.06px;
  margin: 0;
}
.webshop .orange-price {
  font-size: 55px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0px;
  padding: 19px 110px;
  background-color: #EC632A;
}
.webshop__desc {
  padding: 40px 26px;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
}
.webshop__list {
  max-width: 380px;
  text-align: left;
}
.webshop__list li {
  padding: 16px 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}
.webshop__list li::before {
  content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
  margin-right: 22px;
  margin-left: 22px;
}
.webshop__list li:nth-child(odd) {
  background-color: #2a3438;
}
.webshop .button {
  cursor: pointer;
  border-radius: 20px;
  background: #EC632A;
  max-width: 150px;
  margin: 39px auto;
  padding: 11px 26px 12px 28px;
}
.webshop .button__link {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*# sourceMappingURL=main.css.map */
