* {
  box-sizing: border-box;
}

html,
body {
  background-color: #141b1c;
  box-sizing: border-box;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
input, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
}

.price-card {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}
.price-card:last-child {
  margin-right: 0;
}
.price-card__blok {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 770px;
  background-color: #334247;
}
.price-card__title {
  padding: 33px 102px;
  letter-spacing: 0px;
}
.price-card__title h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 43px;
  margin: 0;
}
.price-card__title p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24.06px;
  margin: 0;
}
.price-card__description {
  padding: 40px 26px;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
}
.price-card__options-list {
  max-width: 380px;
  text-align: left;
}
.price-card__options-list li {
  padding: 16px 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}
.price-card__options-list li:nth-child(odd) {
  background-color: #2a3438;
}

.price-card .green-price {
  font-size: 55px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0px;
  padding: 19px 110px;
  background-color: #5BB189;
}
.price-card .basic-list li::before {
  content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
  margin-right: 22px;
  margin-left: 22px;
}
.price-card .button-basic {
  cursor: pointer;
  border-radius: 20px;
  background: #5BB189;
  max-width: 150px;
  margin: 39px auto;
  padding: 11px 26px 12px 28px;
}
.price-card .button-basic__link {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price-card .blue-price {
  font-size: 55px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0px;
  padding: 19px 110px;
  background-color: #3A6BA5;
}
.price-card .business-list li::before {
  content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
  margin-right: 22px;
  margin-left: 22px;
}
.price-card .button-business {
  cursor: pointer;
  border-radius: 20px;
  background: #3A6BA5;
  max-width: 150px;
  margin: 39px auto;
  padding: 11px 26px 12px 28px;
}
.price-card .button-business__link {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.price-card .orange-price {
  font-size: 55px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0px;
  padding: 19px 110px;
  background-color: #EC632A;
}
.price-card .webshop-list li::before {
  content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
  margin-right: 22px;
  margin-left: 22px;
}
.price-card .button-webshop {
  cursor: pointer;
  border-radius: 20px;
  background: #EC632A;
  max-width: 150px;
  margin: 39px auto;
  padding: 11px 26px 12px 28px;
}
.price-card .button-webshop__link {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*# sourceMappingURL=main.css.map */
