.price-card {
    &__blok {
        display: flex;
        flex-direction: column;
        width: 380px;
        height: 770px;
        background-color: #334247;
    }

    &__title {
        padding: 33px 140px;
        letter-spacing: 0px;
    }

    &__title h2 {
        font-size: 35px;
        font-weight: 700;
        line-height: 43px;
        margin: 0;
    }

    &__title p {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 24.06px;
        margin: 0;
    }

    .green-price {
        font-size: 55px;
        font-weight: 700;
        line-height: 67px;
        letter-spacing: 0px;
        padding: 19px 110px;
        background-color: $green-price;
    }

    &__description {
        padding: 40px 26px;
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: 0px;
    }

    &__options-list {
        max-width: 380px;
        text-align: left;
        // padding-left: 22px;
    }

    &__options-list li {
        padding: 16px 0;
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;

        &::before {
            content: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
            margin-right: 22px;
            margin-left: 22px;
        }

        &:nth-child(odd) {
            background-color: #2a3438;
        }
    }

    .button-basic {
        cursor: pointer;
        border-radius: 20px;
        background: #5BB189;
        max-width: 150px;
        margin: 39px auto;
        padding: 11px 26px 12px 28px;

        &__link {
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

}