.webshop {
    &__blok-price {
        display: flex;
        flex-direction: column;
        width: 380px;
        height: 770px;
        background-color: #334247;
        margin: 0 20px;
    }

    &__header {
        padding: 33px 108px;
        letter-spacing: 0px;
    }

    &__header h2 {
        font-size: 35px;
        font-weight: 700;
        line-height: 43px;
        margin: 0;
    }

    &__header p {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 24.06px;
        margin: 0;
    }

    .orange-price {
        font-size: 55px;
        font-weight: 700;
        line-height: 67px;
        letter-spacing: 0px;
        padding: 19px 110px;
        background-color: $orange-price;
    }

    &__desc {
        padding: 40px 26px;
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: 0px;
    }

    &__list {
        max-width: 380px;
        text-align: left;
    }

    &__list li {
        padding: 16px 0;
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;

        &::before {
            content: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
            margin-right: 22px;
            margin-left: 22px;
        }

        &:nth-child(odd) {
            background-color: #2a3438;
        }
    }

    .button {
        cursor: pointer;
        border-radius: 20px;
        background: #EC632A;
        max-width: 150px;
        margin: 39px auto;
        padding: 11px 26px 12px 28px;

        &__link {
            color: #FFF;
            text-align: center;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

}