.price-card {
	width: 380px;
	height: 770px;
	background-color: #334247;
	margin-right: 18px;

	&:last-child {
		margin-right: 0;
	}

	&__title {
		padding: 33px 102px;
		letter-spacing: 0px;
	}

	&__title h2 {
		font-size: 35px;
		font-weight: 700;
		line-height: 43px;
		margin: 0;
	}

	&__title p {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 300;
		line-height: 24.06px;
		margin: 0;
	}

	&__description {
		padding: 40px 26px;
		font-size: 15px;
		font-weight: 300;
		line-height: 18px;
		letter-spacing: 0px;
	}

	&__options-list {
		max-width: 380px;
		text-align: left;
	}

	&__options-list li {
		padding: 16px 0;
		font-size: 15px;
		font-weight: 300;
		line-height: 18px;
		letter-spacing: 0px;
		text-align: left;

		&:nth-child(odd) {
			background-color: #2a3438;
		}
	}
	&__price {
		font-size: 55px;
		font-weight: 700;
		line-height: 67px;
		letter-spacing: 0px;
		padding: 19px 110px;
	}

	&__options-list-item {
		list-style: none;

		&::before {
			margin-right: 22px;
			margin-left: 22px;
		}
	}

	&__order-btn {
		cursor: pointer;
		border-radius: 20px;
		max-width: 150px;
		margin: 39px auto;
		padding: 11px 26px 12px 28px;
		text-align: center;
	}

	&__order-btn-link {
		color: #fff;
		font-family: Montserrat;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-decoration: none;
	}
}

.price-card__price--green {
	background-color: #5bb189;
}

.price-card__options-list-item--green::before {
	content: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
}

.price-card__order-btn--green {
	background-color: #5bb189;
}

.price-card__order-btn-link--green {
	color: #fff;
}

.price-card__price--blue {
	background-color: #3a6ba5;
}

.price-card__options-list-item--blue::before {
	content: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
}

.price-card__order-btn--blue {
	background-color: #3a6ba5;
}

.price-card__order-btn-link--blue {
	color: #fff;
}

.price-card__price--orange {
	background-color: #ec632a;
}

.price-card__options-list-item--orange::before {
	content: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
}

.price-card__order-btn--orange {
	background-color: #ec632a;
}

.price-card__order-btn-link--orange {
	color: #fff;
}
