.page-card {

  .green-price {
    font-size: 55px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0px;
    padding: 19px 110px;
    background-color: #5BB189;
  }

  .basic-list li {
    &::before {
      content: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
      margin-right: 22px;
      margin-left: 22px;
    }
  }

  .button-basic {
    cursor: pointer;
    border-radius: 20px;
    background: #5BB189;
    max-width: 150px;
    margin: 39px auto;
    padding: 11px 26px 12px 28px;

    &__link {
      color: #FFF;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

}

.page-card {
  .blue-price {
    font-size: 55px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0px;
    padding: 19px 110px;
    background-color: #3A6BA5;
  }


  .business-list li {
    &::before {
      content: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
      margin-right: 22px;
      margin-left: 22px;
    }
  }

  .button-business {
    cursor: pointer;
    border-radius: 20px;
    background: #3A6BA5;
    max-width: 150px;
    margin: 39px auto;
    padding: 11px 26px 12px 28px;

    &__link {
      color: #FFF;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

}

.page-card {
  .orange-price {
    font-size: 55px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0px;
    padding: 19px 110px;
    background-color: #EC632A;
  }

  .webshop-list li {
    &::before {
      content: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
      margin-right: 22px;
      margin-left: 22px;
    }
  }

  .button-webshop {
    cursor: pointer;
    border-radius: 20px;
    background: #EC632A;
    max-width: 150px;
    margin: 39px auto;
    padding: 11px 26px 12px 28px;

    &__link {
      color: #FFF;
      text-align: center;
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

}