.price-basic {

	.button-basic {
		cursor: pointer;
		border-radius: 20px;
		background: #5bb189;
		max-width: 150px;
		margin: 39px auto;
		padding: 11px 26px 12px 28px;

		&__link {
			color: #fff;
			text-align: center;
			font-family: Montserrat;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}
}

.price-business {
	.business-list li {
		&::before {
			content: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
			margin-right: 22px;
			margin-left: 22px;
		}
	}

	.button-business {
		cursor: pointer;
		border-radius: 20px;
		background: #3a6ba5;
		max-width: 150px;
		margin: 39px auto;
		padding: 11px 26px 12px 28px;

		&__link {
			color: #fff;
			text-align: center;
			font-family: Montserrat;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}
}

.price-webshop {


	.webshop-list li {
		&::before {
			content: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
			margin-right: 22px;
			margin-left: 22px;
		}
	}

	.button-webshop {
		cursor: pointer;
		border-radius: 20px;
		background: #ec632a;
		max-width: 150px;
		margin: 39px auto;
		padding: 11px 26px 12px 28px;

		&__link {
			color: #fff;
			text-align: center;
			font-family: Montserrat;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}
}
