.page {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.card {
	&__price--green {
		font-size: 55px;
		font-weight: 700;
		line-height: 67px;
		letter-spacing: 0px;
		padding: 19px 110px;
		background-color: #5bb189;
	}

	&__price--blue {
		font-size: 55px;
		font-weight: 700;
		line-height: 67px;
		letter-spacing: 0px;
		padding: 19px 110px;
		background-color: #3a6ba5;
	}

	&__price--orange {
		font-size: 55px;
		font-weight: 700;
		line-height: 67px;
		letter-spacing: 0px;
		padding: 19px 110px;
		background-color: #ec632a;
	}

	&__options-list--basic li {
		&::before {
			content: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
			margin-right: 22px;
			margin-left: 22px;
		}
	}

	width: 380px;
	height: 770px;
	background-color: #334247;
	margin-right: 18px;

	&:last-child {
		margin-right: 0;
	}

	&__title {
		padding: 33px 102px;
		letter-spacing: 0px;
	}

	&__title h2 {
		font-size: 35px;
		font-weight: 700;
		line-height: 43px;
		margin: 0;
	}

	&__title p {
		font-family: 'Roboto', sans-serif;
		font-size: 20px;
		font-weight: 300;
		line-height: 24.06px;
		margin: 0;
	}

	&__description {
		padding: 40px 26px;
		font-size: 15px;
		font-weight: 300;
		line-height: 18px;
		letter-spacing: 0px;
	}

	&__options-list {
		max-width: 380px;
		text-align: left;
	}

	&__options-list li {
		padding: 16px 0;
		font-size: 15px;
		font-weight: 300;
		line-height: 18px;
		letter-spacing: 0px;
		text-align: left;

		&:nth-child(odd) {
			background-color: #2a3438;
		}
	}
}
