.page {
    display: flex;
    justify-content: center;
}

.price-card {
    height: 100vh;
    display: flex;
    justify-content: center;

    margin-right: 18px;

    &:last-child {
        margin-right: 0;
    }

    &__blok {
        display: flex;
        flex-direction: column;
        width: 380px;
        height: 770px;
        background-color: #334247;
    }

    &__title {
        padding: 33px 102px;
        letter-spacing: 0px;
    }

    &__title h2 {
        font-size: 35px;
        font-weight: 700;
        line-height: 43px;
        margin: 0;
    }

    &__title p {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 24.06px;
        margin: 0;
    }

    &__description {
        padding: 40px 26px;
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: 0px;
    }

    &__options-list {
        max-width: 380px;
        text-align: left;
    }

    &__options-list li {
        padding: 16px 0;
        font-size: 15px;
        font-weight: 300;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;

        &:nth-child(odd) {
            background-color: #2a3438;
        }
    }
}